body {
    background-image: url("../我就厲害/大麻葉.jpg");
}
body * {
    text-align: center;
}
video{
    display: block;
    margin: 0 auto; 
    width: 400px; 
}
img{
    display: block; 
    margin: 0 auto;
    width: 400px; 
    height: 500px;
}

